{{ form_start(form) }}

<div class="border my-3 p-3">
    <div class = "form-row">
        <div class="col-md-2 mb-3">{{ form_label(form.name, '名字') }}{{ form_widget(form.name) }}</div>
        <div class="col-md-1 mb-3">{{ form_label(form.sex, '性别') }}{{ form_widget(form.sex) }}</div>
        <div class="col-md-3 mb-3">{{ form_label(form.function, '职位') }}{{ form_widget(form.function) }}</div>
        <div class="col-md-1 mb-3">{{ form_label(form.education1, '学历') }}{{ form_widget(form.education1) }}</div>
        <div class="col-md-1 mb-3">{{ form_label(form.status1, '在职/离职') }}{{ form_widget(form.status1) }}</div>
        <div class="col-md-2 mb-3">{{ form_label(form.employ_type, '全职/兼职') }}{{ form_widget(form.employ_type) }}</div>
        <div class="col-md-1 mb-3">{{ form_label(form.workYear, '工作年限') }}{{ form_widget(form.workYear) }}</div>
        <div class="col-md-1 mb-3">{{ form_label(form.availability, '到岗时间') }}{{ form_widget(form.availability) }}</div>
    </div>

    <div class="mx-auto" style="width: 100px;">
        <button type="submit" class="btn btn-outline-secondary">查询</button>
    </div>
</div>

{{ form_end(form) }}
