{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('logout') }}">登出</a>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">查询</button>
    {{ form_end(form) }}

    <a href="{{ path('create') }}">增加</a>
    <table>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.birthday | date_to_string }}</td>
                <td>{{ person.marriage }}</td>
                <td>
                    <div>
                        <a href="{{ path('show', {id: person.id}) }}">
                            查看
                        </a>
                        <a href="{{ path('update', {id: person.id}) }}">
                            修改
                        </a>
                        <a href="{{ path('delete', {id: person.id}) }}">
                            删除
                        </a>
                    </div>
                </td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
